html,body{
    background-color: silver;
    height: 100%;
    margin:0;
}

#glowny{
    width: 100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}

#panel{
    height: 3%;
    width: 100%;
    background-color:darkslategrey;
    padding: 20px;
}

#content_form{
    height: 37%;
    width: 100%;
    background-color:chartreuse;
}

#content{
    height: 60%;
    width: 100%;
    background-color:firebrick;
}

a{
    color:aqua;
    border-style: solid;
    text-decoration: none;
    
}

a.wyl{
    color:red;
    border-style: solid;
    text-decoration: none;
    
}

p{
    color:blue;
    font-weight: bold;
}

p.szablon{
    color:cornflowerblue;
}

p.kod{
    color:yellow;
    font-weight: bold;
}