html,body{
    background-color: silver;
    height: 100%;
}


/*Do strony logowanie.php*/
.okno_logowania{
    text-align: center;
    color:black;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    height:16%;
}
.przycisk_log{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    width: 40%;
    height: 100%;

}

.opcja{
    color:red;
}
